body{
    margin: 0;
    padding: 0;
}

.section1{
    height: 850px;
    background-image: url(Images/Polaroid-1024x576.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
}
.title{
    font-weight: 600;
    font-size: 3.3rem;
    color: white;
    padding-top: 200px;
    padding-left: 50px;

    text-shadow: 2px 2px black;
}

.navNames{
    font-weight: 600;
    font-size: 2.25rem;
    padding-top: 35px;
}
.navA {
    background-color: transparent; 
    border: none; 
    box-shadow: none; 
    width: 100%;
    
}

.navA .navbar-nav .nav-link {
    color: rgb(255, 255, 255); 
}
.navdiv{
    display: flex;
    justify-content: center;
}

.navbar-nav{
    margin-left: 300px;
}
.section2{
    height: 700px;
    background-color: #d3d3d1;
}




